.gallery {
    margin: 0 auto;
    padding: 24px;
    columns: 327px 1;
    gap: 24px;
    /* flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: flex-start;
    justify-items: center; */
}

@media (min-width: 768px) {
    .gallery {
        padding: 40px;
        columns: 324px 2;
        gap: 40px;

    }
}

@media (min-width: 800px) {
    .gallery {
        columns: 310px 4;
    }
}

@media (min-width: 1360px) {
    .gallery {
        padding: 0;
    }
}