.painting {
    margin: 0 24px 98px;
    padding-top: 104px;
    position: relative;
}

.painting__image {
    text-align: center;
}

.painting__image img {
    max-width: 100%;
    object-fit: contain;
}

.painting__info {
    position: absolute;
    padding: 24px;
    background-color: #fff;
    left: 0;
    bottom: -54px;
    min-width: 232px;
    max-width: 232px;
}

.painting__name {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 8px;
}

.painting__authorName {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #7D7D7D;
}

.painiting_authorImage {
    position: absolute;
    bottom: -64px;
    left: 16px;
}

.painiting_authorImage img {
    max-width: 64px;
}

.painting__modalButton {
    position: absolute;
    top: 120px;
    left: 16px;
    display: flex;
    background: rgba(0, 0, 0, 0.75);
    mix-blend-mode: normal;
    align-items: center;
    padding: 14px 16px 13px;
    cursor: pointer;
}

.painting__modalButton:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.painting__modalIcon {
    margin-right: 14px;
}

.painting__modalText {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2.14286px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.description {
    margin: 0 24px 139px;
    position: relative;
    padding: 74px 0 0;
}

.description__year {
    position: absolute;
    font-size: 100px;
    line-height: 100px;
    color: #F3F3F3;
    top: 0;
    right: 0;
    z-index: -1;
}

.description__text {
    font-size: 14px;
    line-height: 28px;
    color: #7D7D7D;
    margin-bottom: 68px;
}

.description a {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 1.92857px;
    color: #7D7D7D;
    text-transform: uppercase;
}

.description a:hover {
    color: #000;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 17px 24px 16px;
    border-top: 1px solid #E5E5E5;
    align-items: center;
}

.footer__progress {
    position: absolute;
    content: "";
    background-color: #000;
    width: calc(var(--width, 0) * 1%);
    height: 1px;
    top: -1px;
    left: 0;
}

.footer__name {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 9px;
}

.footer__author {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    opacity: 0.75;
}

.footerButtons {
    display: flex;
}

.footerButtons__button {
    opacity: 0.15;
}


.footerButtons__active {
    opacity: 1;
}

.footerButtons__active:hover {
    opacity: 0.5;
}

.footerButtons__button:first-of-type {
    margin-right: 23px;
}

.footerButtons__button img {
    max-width: 16px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.85);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal__container {
    max-width: 917px;
}

.modal__close {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 33px;
    cursor: pointer;
}

.modal__close:hover {
    opacity: 0.25;
}

.modal__picture img {
    max-width: 100%;
}

@media (min-width: 702px) {
    .painting {
        padding-top: 129px;
        margin: 0 40px;
    }

    .painting__image {
        text-align: left;
    }

    .painting__image img {
        max-width: 475px;
    }

    .painting__info {
        right: 0;
        left: auto;
        bottom: auto;
        top: 129px;
        padding: 0 0 67px 65px;
        min-width: 380px;
    }

    .painting__name {
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 24px;
    }

    .painiting_authorImage {
        left: auto;
        bottom: -131px;
        right: 55px;
    }

    .painiting_authorImage img {
        max-width: 128px;
    }

    .painting__modalButton {
        left: 16px;
        bottom: 16px;
        top: auto;
    }

    .description {
        padding-top: 139px;
        margin: 0 156px 149px;
    }

    .description__text {
        margin-bottom: 40px;
    }

    .description__year {
        font-size: 200px;
        line-height: 150px;
        left: -115px;
        bottom: auto;
        right: auto;
        top: 75px;
    }

    .footer__name {
        font-size: 18px;
        line-height: 22px;
    }

    .footer__author {
        font-size: 13px;
        line-height: 16px;
    }

    .footerButtons__button img {
        max-width: 24px;
    }

    /* .modal__container {
        padding: 0 49px;
    } */

    .modal__close {
        margin-bottom: 41px;
    }
}

@media (min-width: 1360px) {
    .paintingContainer {
        padding-top: 129px;
    }

    .painting {
        padding-top: 100px;
        margin: 0;
    }

    .painting__info {
        left: 410px;
        top: 100px;
    }

    .paintingContainer {
        display: flex;
    }

    .painiting_authorImage {
        bottom: auto;
        top: 496px;
        left: 95px;
        right: auto;
    }

    .description {
        width: 100%;
        padding-top: 215px;
        margin: 0 0 0 410px;
    }
    
    .description__text {
        max-width: 350px;
        margin-bottom: 109px;
    }

    .description__year {
        left: auto;
        right: 0;
        top: 100px;
    }

    .painting__modalButton {
        top: 604px;
        bottom: auto;
    }
}